.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 18px;
}

.logo img {
    height: 55px;
}

a {
    text-decoration: none;
    color: black;
    transition: color 300ms;
    padding: 0 20px 0 20px;
}

.menu a:hover {
    color: var(--blue);
    border-top: 3px solid var(--blue);
    padding-top: 59px;
}

.border-a:last-child {
    margin-left: 40px;
}

/*-----------------  MEDIA QUERIES   -------------------*/
@media screen and (max-width: 768px){

    nav.nav_container {
        display: block;
        padding: 0;
        font-size: 16px;
    }

    a {
        display: flex;
        justify-content: center;
    }

    .border-a:last-child {
        margin-left: 0;
    }

    .logo img {
        height: 42px;
        margin: 15px 0 30px 0;
    }

    .menu, a {
        display: flex;
        width: 100%;
    }

    a.border{
        border-bottom: 3px solid var(--grey);
        padding-bottom: 14px;
    }

    a.border:hover {
        padding-top: 0;
        padding-bottom: 14px;
        border-top: none;
        border-bottom: 3px solid var(--blue);
    }
}