.hero_container {
    padding: 10px 60px 10px 60px;
}

h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
}

.form {
    display: flex;
    margin-top: 20px;
    height: 60px;
}

.fa-map-marker-alt {
    border: 1px solid var(--grey);
    padding: 20px;
    background-color: var(--grey);
    border-radius: 15px 0 0 15px;
}

input {
    border: 1px solid var(--grey);
    width: 260px;
    font-size: 20px;
    font-weight: 700;
    padding: 20px;
}

.button {
    width: 170px;
    background-color: var(--blue);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

.button:hover {
    background-color: var(--lightBlue);
    color: var(--blue);
}

.fa-search {
    display: none;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 35px;
    font-size: 23px;
    font-weight: 700;
}

.filters-title {
    padding-right: 50px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.fa-money-bill-wave,
.fa-child,
.fa-heart,
.fa-dog {
    color: var(--blue);
    background-color: var(--lightBlue);
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    margin: -3px;
}

.filters-btn {
    display: flex;
    align-items: center;
    margin-right: 30px;
    margin-bottom: 20px;
    height: 62px;
    border: 3px solid var(--grey);
    border-radius: 50px ;
    transition: 200ms;
}

.filters-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

span {
    padding: 0 20px;
    white-space: nowrap;
}

.info {
    display: flex;
    margin-top: 20px;
}

.fa-info {
    border: 2px solid var(--grey);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-text {
    padding-left: 20px;
}

/*-----------------  MEDIA QUERIES   -------------------*/
@media screen and (max-width: 768px){

    .hero_container {
        padding: 25px 18px 10px 18px;
    }

    h2 {
        font-size: 22px;
    }

    p {
        font-size: 16px;
    }

    .form {
        height: 50px;
    }

    .fa-map-marker-alt {
        padding: 17px;
        border-radius: 15px 0 0 15px;
    }

    input {
        width: 270px;
        font-size: 18px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .button {
        position: relative;
        left: -45px;
        width: 50px;
        min-width: 50px;
        border-radius: 15px;
    }

    .search-text {
        display: none;
    }

    .fa-search {
        display: inline;
        right: 0;
    }

    .filters {
        padding-top: 26px;
        font-size: 17px;
    }

    .filters-title {
        font-size: 19px;
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0;
    }

   .filters-btn {
       display: flex;
       align-items: center;
       height: 46px;
       margin: 12px 10px 0 0;
   }

   .fa-money-bill-wave,
   .fa-child,
   .fa-heart,
   .fa-dog {
       width: 46px;
       height: 46px;
       font-size: 20px;
       margin: -3px;
   }

   span {
       padding: 0 15px;
   }

   .info {
       margin-top: 25px;
   }

   .fa-info {
    flex-wrap: wrap;
    min-width: 32px;
   }

   .info-text {
       padding-left: 10px;
       line-height: 20px;
   }
}

@media screen and (max-width: 372px) {
    input {
        width: 215px;
    }
}

@media screen and (max-width: 320px) {
    input {
        width: 160px;
        font-size: 16px;
    }
}